.metadata/
.recommenders/
*.log
bin/
target/
.settings/
.checkstyle
.launch
*.dbconn
*.connection
.DS_Store
Thumbs.db

#
.conInfo
.meta/
.projInfo
.webServicesInfo
*.tmp
*.bak

.RoutineDebugger/
.sqlxeditor_project/
RemoteSystemsTempFiles/